@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
} */

/* COMMON STYLES */
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(250, 250, 250, 0.904);
}

main {
  overflow-x: hidden;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1rem;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 1.8px #515457e8;
}

/* LANDING PAGE */

/* navigation menu */
nav {
  position: relative;
  /* z-index: 2; */
}

.burger {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  /* background-color: white; */
  position: absolute;
  cursor: pointer;
  right: 25px;
  top: 15px;
  z-index: 2;
  box-shadow: 0px 0px 10px 3px rgba(30, 30, 30, 0.301);
  /* box-shadow: 0px 4px 24px rgba(29, 29, 29, 0.24); */
}

.burger .line {
  position: relative;
  top: 5.5px;
  left: 3.6px;
  width: 28px;
  height: 3px;
  margin: 6px 5px;
  background-color: black;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.nav-list {
  position: absolute;
  /* top: 0;
  bottom: 0; */
  text-align: center;
  list-style: none;
  line-height: 1rem;
  /* transition: 1s ease-in-out; */
  /* height: 50%; */
  /* width: 100%; */
  /* box-shadow: 2px 2px 2px black; */
  z-index: 1;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 100%;
  /* height: 200px; */
}

nav img {
  position: absolute;
  height: 65px;
  z-index: 2;
  left: 15px;
  top: 3px;
}

.nav-list li {
  /* width: 100%; */
  /* cursor: pointer; */
  font-size: 0.9rem;
  padding-top: 1rem;
  /* background-color: rgba(167, 202, 224, 0.596); */
  background-size: cover;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.nav-list span {
  cursor: pointer;
  /* pointer-events: all; */
}

/* .span-null-pointer {
  pointer-events: none;
} */

.nav-list li:first-child {
  padding-top: 3rem;
}

.nav-list li:last-child {
  padding-bottom: 1rem;
}

.nav-list li:hover {
  cursor: pointer;
}

/* landing-page */
#home {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.home-text-content {
  text-align: center;
  /* transition: 1s ease; */
  position: absolute;
  top: 45%;
  width: 100%;
  /* left: 2.5%; */
  /* right: 1%; */
  /* transform: translateY(-50%); */
}

.home-text-content h1 {
  /* width: 100%; */
  font-weight: 600;
  font-size: 2.4rem;
  letter-spacing: 0.6rem;
  /* text-shadow: 2px 2px #d6d6d6d0; */
  text-shadow: 2.3px 2px 1.2px #515457e8;
  margin-top: -1rem;
  margin-left: 0.4rem;
}

.home-text-content h2 {
  color: rgba(248, 248, 248, 0.911);
  text-shadow: 3px 2px 1.8px #515457e8;
  margin: 0.5rem 0;
}

.home-btns {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.home-btns .btn {
  display: block;
  margin: 1rem 0;
  padding: 1rem 4rem;
  max-width: 300px;
  color: black;
  text-decoration: none;
  border-color: rgba(218, 218, 218, 0.911);
  box-shadow: -2px -1.8px 1.8px rgba(243, 243, 243, 0.945),
    3px 2.3px 2px rgba(141, 141, 141, 0.925);
  border-radius: 20px;
  /* transition: all 1s ease; */
}

.home-btns .btn.portfolio {
  background-color: rgba(167, 202, 224, 0.596);
  margin-top: 4rem;
}

.home-btns .btn.contact {
  margin-top: 0.2rem;
}

.home-btns .btn:hover,
.home-btns .btn:active {
  /* border-color: rgba(218, 218, 218, 0.911);
  background-color: rgba(193, 225, 247, 0.438); */
  border-radius: 30px;
}

.home-social {
  display: none;
}

.home-bg-image {
  background-image: linear-gradient(
      to bottom,
      rgba(194, 194, 194, 0.884),
      rgba(218, 218, 218, 0.753),
      rgba(71, 71, 71, 0.041),
      rgba(71, 71, 71, 0.041),
      rgba(71, 71, 71, 0.041)
    ),
    url(https://source.unsplash.com/jg-6ARMiaPM);
  background-attachment: scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100%;
  width: 100%;
  z-index: 0;
}

/* PAGE DIVIDER */
/* .page-divider {
  position: relative;
  min-height: 100px;
  background-color: rgb(190, 187, 183);
}
.page-divider svg {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 40px;
  clip-path: url("#clipPath");
  background-color: rgb(190, 187, 183);
  z-index: 2;
} */

/* WEDDING PACKAGES */
#wedding {
  /* background-image: linear-gradient(
    180deg,
    rgb(190, 187, 183) 6%,
    rgba(214, 214, 214, 0.24) 26%
  ); */
  margin: 2rem 2rem;
}

.wedding-text h2 {
  margin: 0 0 2rem 0;
  text-align: center;
}

.wedding-text h3 {
  text-align: center;
  margin: 2.25rem 0 1.5rem 0;
}

.wedding-image {
  margin-top: 2rem;
}
.wedding-image img {
  height: 100%;
  width: 100%;
}

/* GALLERY */
.gallery-header {
  margin: 4rem 0 2rem 0;
}

.gallery-images {
  text-align: center;
}

.gallery-images img {
  width: 100%;
  margin-top: 1rem;
}

/* FOOTER */
footer {
  background-color: rgb(136, 136, 136);
}

.footer-social {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.social-btns img {
  width: 50px;
}

.footer-text {
  text-align: center;
  padding: 1rem 0;
  /* text-decoration: none; */
  /* background-color: grey; */
}
/* 
.footer-text .footer {
  display: block;
  padding: 1rem;
  color: black;
  text-decoration: none;
} */

.footer-link {
  text-decoration: none;
  color: black;
}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
  .burger {
    opacity: 0;
    pointer-events: none;
  }

  .nav-list {
    /* position: relative; */
    /* background-color: rgba(167, 202, 224, 0.596); */
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    /* transition-property: none; */
    position: fixed;
    box-shadow: 3px 2.3px 2px rgba(141, 141, 141, 0.925);
  }

  /* .nav-desktop {
    height: 70px;
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    transition: none;
  } */

  nav img {
    position: fixed;
    height: 70px;
    /* z-index: 2; */
    left: 2rem;
    top: -5px;
  }

  .nav-list li {
    padding: 0;
    /* margin: 1.5em 1.25em 1.5em 1.25em; */
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    background: none;
  }

  /* .nav-list li:nth-last-child(2) {
    margin-right: 10em;
  } */

  .nav-list li:first-child {
    padding: 0;
  }

  .nav-list li:last-child {
    margin-right: 2.5em;
    padding: 0;
  }

  .nav-list li:hover {
    cursor: pointer;
    color: rgb(109, 109, 109);
  }

  .home-text-content {
    top: 10%;
  }

  .home-text-content h1 {
    font-size: 5rem;
  }

  .home-text-content h2 {
    font-size: 3rem;
    line-height: 1.5rem;
  }

  .home-text-content .btn {
    font-size: 1.5em;
    font-weight: 500;
    display: block;
    color: white;
    max-width: 300px;
    width: 30%;
    transition: border-radius 0.5s ease, background-color 0.5s ease;
  }

  .home-text-content .btn.portfolio {
    background-color: rgba(167, 202, 224, 0.596);
    margin-top: 20%;
  }

  .home-text-content .btn.contact {
    margin-top: 1.5rem;
    color: white;
  }

  .home-text-content .btn.portfolio:hover {
    /* background-color: rgba(193, 225, 247, 0.438); */
    border-radius: 30px;
    /* color: black; */
    /* font-weight: 700; */
    background-color: rgba(128, 191, 233, 0.801);
  }

  .home-text-content .btn.contact:hover {
    border-radius: 30px;
    color: white;
    background-color: rgba(128, 191, 233, 0.801);
  }

  .home-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-social {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: 2rem;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }

  .home-social svg {
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
  }

  .home-social svg:hover {
    fill: rgba(34, 85, 151, 0.884);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .home-bg-image {
    background-attachment: fixed;
  }

  #wedding-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    margin: 0;
  }

  .wedding-text {
    padding: 4rem 2rem 0;
    grid-area: text;
  }

  #wedding h2,
  .gallery-header h2 {
    font-size: 2.5rem;
    padding: 5rem 0 3rem;
  }

  .wedding-text h3 {
    margin-top: 2.5rem;
  }

  .wedding-image {
    /* background-color: lightblue; */
    grid-area: image;
    margin: 5rem 2.5rem;
    /* background-size: cover; */
    /* height: 100%; */
  }

  .wedding-image img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-position: cover;
  }

  .gallery-header h2 {
    /* padding: 5rem 0 3rem; */
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 1rem;
  }

  .gallery-images img {
    margin: 0;
  }

  footer {
    margin-top: 5rem;
  }

  .footer-social {
    display: none;
  }
}

/* STYLE CLASSES */
.close {
  opacity: 0;
  /* height: 0; */
  pointer-events: none;
}

.open {
  /* height: 100%; */
  opacity: 1;
  pointer-events: none;
}

.line-up-rotation {
  transform: rotate(45deg);
  transform-origin: 10% 200%;
  /* transition: 0.2s ease-in-out; */
}

.line-down-rotation {
  transform: rotate(-45deg);
  transform-origin: 15% -100%;
  /* transition: 0.2s ease-in-out; */
}

.line-transition {
  transition: 0.5s ease-in-out;
}
.line-invisible {
  opacity: 0;
}

.span-pointer {
  pointer-events: all;
}

.box-shadow {
  box-shadow: 3px 2.3px 2px rgba(141, 141, 141, 0.925);
}

.instagram-expanded {
  margin: 1.5em 10em 1.5em 1.25em;
}

.expanded {
  margin: 1.5em 1.25em 1.5em 1.25em;
}

.visible {
  opacity: 1;
  pointer-events: all;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.mobile-nav-transition {
  transition: all 0.5s ease-in-out;
}

.desktop-nav-transition {
  /* transition: all 1s ease-in-out; */
  transition: background-color 0.6s ease-in-out, margin 0.6s ease-in-out,
    opacity 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.nav-color {
  background-color: rgba(167, 202, 224, 0.596);
  /* transition: all 2s ease-in-out; */
}

.nav-transparent {
  background-color: transparent;
  box-shadow: none;
}

.nav-white {
  background-color: white;
  box-shadow: "none";
}

.nav-short {
  border-radius: 30px 0 0 30px;
  right: 0;
  width: 350px;
}

.nav-white-transition {
  transition: box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

#progress-bar {
  width: 0;
  height: 5px;
  background: linear-gradient(
    to right,
    rgba(216, 216, 216, 0.575) 30%,
    rgba(204, 204, 204, 0.932) 50%,
    rgba(238, 237, 237, 0.973) 70%,
    rgb(255, 255, 255)
  );
  /* background-color: pink; */
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 3px;
  /* display: block; */
}

/* GSAP helpers */
/* .marker {
  width: 100%;
  left: 0;
  pointer-events: none;
  user-select: none;
  z-index: 100;
}

.timeline-trigger {
  position: fixed;
  border: 1px solid blue;
  z-index: 90;
  left: 0;
  bottom: 0;
}

.start-trigger {
  border: 1px solid green;
  position: absolute;
}

.end-trigger {
  border: 1px solid red;
  position: absolute;
} */
